<div class="form-group row">
    <label class="col-md-3 col-form-label">
        Zammad
    </label>
    <div class="col-md-9">
        {% for ticket in tickets %}
            <div class="col-md-9">
                <div class="pt-2">
                    <i class="fa fa-circle-o"></i>
                    <a href="{{ticket_url}}{{ticket.id}}">{{ticket.id}}</a>: {{ticket.title}}
                    <small class="form-text text-muted">{{ticket.state}} in group {{ticket.group}}</small>
                </div>
            </div>
        {% endfor %}
    </div>
</div>